@use "typography" as *;
@use "variables" as *;
@use "mixins" as *;

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $slate-300;
  height: 100vh;
}

h1 {
  @extend %outfit-bold;
  margin-bottom: 1rem;
}

p {
  @extend %outfit-regular;
}
