@use "typography" as *;
@use "variables" as *;
@use "mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Outfit", sans-serif;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  background-color: $slate-300;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

h1 {
  @extend %outfit-bold;
  margin-bottom: 1rem;
}

p {
  @extend %outfit-regular;
}
