// colors
$white: hsl(0, 0%, 100%);
$slate-300: hsl(212, 45%, 89%);
$slate-500: hsl(216, 15%, 48%);
$slate-900: hsl(218, 44%, 22%);

// typography
$font-family: "Outfit", sans-serif;
$font-weight-400: 400;
$font-weight-700: 700;

// spacing
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-500: 2.5rem;

// breakpoints
$mobile: 375px;
$desktop: 1440px;
